body {
	background-image: url(../img/fondo1.png);
}

h1 {

text-align: center;	
font-size: 50px;
	
}

.featurette-image.img-fluid.mx-auto{
	width: 500px;
	height: 300px;
}
.menu{
	text-align: center;

}
.btn{
	font-weight: bolder  !important;
}

.flechatras {
	
float: left;
	
}


.logo{
  width: 50px;
}

.marketing {
	
	background-color: white;
		
}